<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandi.type.dao.ThemeMapper">
  <resultMap id="BaseResultMap" type="com.diandi.type.entity.Theme">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select id,type from diandi.theme
  </select>
  <insert id="insert" parameterType="com.diandi.type.entity.Theme">
    insert into diandi.theme(type) value(#{record})
  </insert>
  <delete id="delete" parameterType="com.diandi.type.entity.Theme">
    delete from diandi.theme where id = #{id}
  </delete>
  <update id="update" parameterType="com.diandi.type.entity.Theme">
    update diandi.theme set type = #{type}
  </update>

  <select id="selectById" resultMap="BaseResultMap">
    select id,type from diandi.theme where id=#{id}
  </select>
</mapper>